import(AnnotationHub)
import(GenomicFeatures)
import(GenomicRanges)
importFrom(stats,setNames)

### TxDb.Athaliana.Ensembl.TAIR10 is an AnnotationHub resource package.
### The TxDb object is hosted on AnnotationHub and retrieved at runtime
### (see the vignette).
